@font-face {
  font-family: "Helvetica Neue OTS";
  src: url("Helvetica Neue.eot");
  src: local("Helvetica Neue"), local("Helvetica Neue"), url("fonts/Helvetica Neue.ttf") format("truetype");
  font-weight: 200;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Helvetica Neue OTS";
  font-size: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  width: 100%;
  height: 100%;
  background: #e5f6ff;
}
.menu .menu-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  padding: 30px 0px;
}
.menu .menu-container p {
  margin-bottom: 30px;
}
.menu .menu-container p:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30%;
}
.menu .menu-container p:first-child a:first-child {
  color: #405cef;
}

.block-1 {
  background: url("img/background.png") border-box no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 50px 0px;
  width: 100%;
}
.block-1 .nav {
  width: 91.09375%;
  margin: 0px auto;
  display: block;
}
.block-1 .nav p,
.block-1 .nav img {
  display: inline;
}
.block-1 .nav img {
  margin: 0px 2.358490566%;
}
.block-1 .nav .nav-left {
  height: 40px;
  margin: 0px;
}
.block-1 .nav .nav-right {
  float: right;
  position: relative;
  top: 10px;
}
.block-1 .nav .lang {
  color: #405cef;
  margin-left: 7.5471698113%;
}
.block-1 .nav .menu-button {
  display: none;
}
.block-1 .slider {
  width: 91.09375%;
  margin: 0px auto;
  margin-top: 22.9357798165%;
  position: relative;
}
.block-1 .slider .text1,
.block-1 .slider .text2,
.block-1 .slider .text3 {
  height: 350px;
}
.block-1 .slider .text {
  display: flex;
  margin: 3.5849056604% 0px;
}
.block-1 .slider .text .text-block1 {
  font-size: 40px;
  width: 37.0833333333%;
  font-weight: bold;
  line-height: 1.1;
  margin-right: 2.5%;
}
.block-1 .slider .text .text-block2 {
  width: 29.1666666667%;
  line-height: 1.2;
  padding-top: 10px;
}
.block-1 .slider .text .text-block2 button {
  background: #405cef;
  color: white;
  width: 120px;
  height: 45px;
  border-radius: 15px;
  margin-top: 40px;
  cursor: pointer;
}
.block-1 .slider .dots {
  display: flex;
  float: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.block-1 .slider .dots img {
  margin: 5px;
  width: 20px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .block-1 .nav .nav-right {
    display: none;
  }
  .block-1 .nav .menu-button {
    display: inline;
  }
  .block-1 .slider .text {
    flex-direction: column;
  }
  .block-1 .slider .text .text-block1 {
    width: 85%;
  }
  .block-1 .slider .text .text-block2 p {
    display: none;
  }
  .block-1 .slider .dots {
    position: static;
    margin: 0 auto;
    float: none;
    justify-content: center;
  }
}
@media screen and (min-width: 900px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 545px) {
  .block-1 .slider .text .text-block1 {
    font-size: 32px;
  }

  .menu .menu-container {
    font-size: 18px;
  }
}
@media screen and (max-width: 315px) {
  .block-1 .slider .text .text-block1 {
    font-size: 28px;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
}
.block-3 {
  background: #ebf8ff;
}
.block-3 .block-3-upper {
  padding: 80px 3.75%;
  display: flex;
  flex-direction: row;
}
.block-3 .block-3-upper .text1 {
  font-size: 18px;
  width: 45%;
}
.block-3 .block-3-upper .text2 {
  font-size: 38px;
  width: 55%;
}
.block-3 .block-3-upper .text2 span {
  text-decoration: underline;

  color: #405cef;


}
.block-3 hr {
  background: lightgrey;
  color: lightgrey;
  height: 2px;
  width: 95%;
  margin: 0 auto;
}
.block-3 .block-3-bottom {
  display: flex;
  justify-content: space-between;
  padding: 60px 3.75% 80px;
}
.block-3 .block-3-bottom img {
  height: 35px;
  width: 8%;
}

@media screen and (max-width: 600px) {
  .block-3 .block-3-upper .text2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .block-3 .block-3-upper {
    flex-direction: column;
  }

  .block-3 .block-3-upper .text1,
.block-3 .block-3-upper .text2 {
    margin: 10px auto;
    width: 90%;
    text-align: left;
  }

  .block-3 .block-3-bottom {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .block-3 .block-3-bottom img {
    width: 100px;
    margin: 0px 10px;
  }

}
.block-4 {
  padding: 50px 0px;
  width: 100%;
  width: 91.09375%;
  margin: 0px auto;
}
.block-4 .flex-5 {
  display: flex;
  justify-content: space-between;
}
.block-4 .flex-5 .flex-5-left {
  width: 25%;
}
.block-4 .flex-5 .flex-5-left .text-1 {
  margin-top: 15%;
  font-size: 18px;
  width: 100%;
  margin-bottom: 100%;
}
.block-4 .flex-5 .flex-5-left .btn {
  border: 1px solid #405cef;
  border-radius: 15px;
  background-color: transparent;
  width: 60%;
  height: 60px;
  color: #405cef;
  font-size: 16px;
}
.block-4 .flex-5 .flex-5-right {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.block-4 .flex-5 .flex-5-right .person-block {
  width: 25%;
  margin: 7% 2%;
}
.block-4 .flex-5 .flex-5-right .person-block .img {
  width: 100%;
  filter: grayscale(100%);
}
.block-4 .flex-5 .flex-5-right .person-block .img-no-filtr {
  width: 100%;
}
.block-4 .flex-5 .flex-5-right .person-block .name {
  margin: 10% auto;
  line-height: 28px;
  font-size: 24px;
  text-align: left;
}
.block-4 .flex-5 .flex-5-right .person-block .post {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}
.block-4 .flex-5 .btn-mob {
  display: none;
  border: 1px solid #405cef;
  border-radius: 15px;
  background-color: transparent;
  width: 60%;
  height: 60px;
  color: #405cef;
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  .block-4 .flex-5 .flex-5-left .btn {
    font-size: 12px;
  }

  .block-4 .flex-5 .flex-5-right .person-block .name {
    font-size: 16px;
    line-height: 20px;
  }

  .block-4 .flex-5 .flex-5-right .person-block .post {
    font-size: 10px;
    line-height: 13px;
  }
}
@media screen and (max-width: 900px) {
  .block-4 .flex-5 {
    flex-direction: column;
  }

  .block-4 .flex-5 .flex-5-left .text-1 {
    margin-bottom: 15%;
  }

  .block-4 .flex-5 .flex-5-left .btn {
    display: none;
  }

  .block-4 .flex-5 .flex-5-right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
  }

  .block-4 .flex-5 .flex-5-right .person-block {
    width: 90%;
    min-width: 50%;
    margin-right: 15%;
  }

  .block-4 .flex-5 .flex-5-right .person-block .name {
    font-size: 24px;
    line-height: 28px;
  }

  .block-4 .flex-5 .flex-5-right .person-block .post {
    font-size: 14px;
    line-height: 18px;
  }

  .block-4 .flex-5 .flex-5-left {
    width: 100%;
  }

  .block-4 .flex-5 .btn-mob {
    display: block;
    margin-top: 10%;
  }
}
@media screen and (max-width: 450px) {
  .block-4 .flex-5 .flex-5-right .person-block {
    min-width: 80%;
  }
}