@font-face {
    font-family: 'Helvetica Neue OTS';
    src: url('Helvetica Neue.eot');
    src: local('Helvetica Neue'), local('Helvetica Neue'), url('fonts/Helvetica Neue.ttf') format('truetype');
    font-weight: 200;
}

@mixin center {
    width: 1749px/1920px * 100%;
    margin: 0px auto;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Helvetica Neue OTS';
    font-size: 17px;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    width: 100%;
    height: 100%;
    background: #e5f6ff;
    .menu-container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 25px;
        padding: 30px 0px;
        p {
            margin-bottom: 30px;
        }
        p:first-child {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30%;
            a:first-child {
                color: #405CEF;
            }
        }
    }
}

.block-1 {
    background: url('img/background.png') border-box no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 50px 0px;
    width: 100%;
    .nav {
        @include center;
        display: block;
        p,
        img {
            display: inline;
        }
        img {
            margin: 0px 25px/1060px * 100%;
        }
        .nav-left {
            height: 40px;
            margin: 0px;
        }
        .nav-right {
            float: right;
            position: relative;
            top: 10px;
        }
        .lang {
            color: #405CEF;
            margin-left: 80px/1060px * 100%;
        }
        .menu-button {
            display: none;
        }
    }
    .slider {
        @include center;
        margin-top: 250px/1090px*100%;
        position: relative;
        .text1,
        .text2,
        .text3 {
            height: 350px;
        }
        .text {
            display: flex;
            margin: 38px/1060px * 100% 0px;
            .text-block1 {
                font-size: 40px;
                width: 712px/1920px*100%;
                font-weight: bold;
                line-height: 1.1;
                margin-right: 48px/1920px*100%;
            }
            .text-block2 {
                width: 560px/1920px*100%;
                line-height: 1.2;
                padding-top: 10px;
                button {
                    background: #405CEF;
                    color: white;
                    width: 120px;
                    height: 45px;
                    border-radius: 15px;
                    margin-top: 40px;
                    cursor: pointer;
                }
            }
        }
        .dots {
            display: flex;
            float: right;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
        .dots img {
            margin: 5px;
            width: 20px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 900px) {
    .block-1 {
        .nav {
            .nav-right {
                display: none;
            }
            .menu-button {
                display: inline;
            }
        }
        .slider {
            .text {
                flex-direction: column;
                .text-block1 {
                    width: 85%;
                }
                .text-block2 p {
                    display: none;
                }
            }
            .dots {
                position: static;
                margin: 0 auto;
                float: none;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 545px) {
    .block-1 .slider .text .text-block1 {
        font-size: 32px;
    }
    .menu .menu-container {
        font-size: 18px;
    }
}

@media screen and (max-width: 315px) {
    .block-1 .slider .text .text-block1 {
        font-size: 28px;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
}

.block-3 {
    background: #ebf8ff;
    .block-3-upper {
        padding: 80px 72px/1920px*100%;
        display: flex;
        flex-direction: row;
        .text1 {
            font-size: 18px;
            width: 45%;
        }
        .text2 {
            font-size: 38px;
            width: 55%;
            span {
                text-decoration: underline;
                color: #405CEF;
            }
        }
    }
    hr {
        background: lightgrey;
        color: lightgrey;
        height: 2px;
        width: 95%;
        margin: 0 auto
    }
    .block-3-bottom {
        display: flex;
        justify-content: space-between;
        padding: 60px 72px/1920px*100% 80px;
        img {
            height: 35px;
            width: 8%;
        }
    }
}

@media screen and (max-width: 600px) {
    .block-3 .block-3-upper .text2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .block-3 .block-3-upper {
        flex-direction: column;
    }
    .block-3 .block-3-upper .text1,
    .block-3 .block-3-upper .text2 {
        margin: 10px auto;
        width: 90%;
        text-align: left;
    }
    .block-3 .block-3-bottom {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        img {
            width: 100px;
            margin: 0px 10px
        }
    }
}